<h3>Fuel Station Search Results </h3>
<section class='NREL'>
  <%= @result.name %>
  <br /> <%= @result.street %>
  <br /> <%= @result.city %>, <%= @result.state %> <%= @result.zip %>
  <br /> <%= @result.fuel_type %>
  <br /> <%= @result.access_times %>
</section>
<p>
<section class='Google'>
  <br />Distance: <%= @route.distance %>
  <br />Travel Duration: <%= @route.duration %>
  <br /><section class='html_instructions'>
          Directions: <%= @route.directions %>
        </section>
</section>